/* Add a gradient background to the body element */
body {
  background: linear-gradient(to right, blue, purple, orange, pink);
}

/* Create a keyframe animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply the animation to the body element */
body {
  animation: gradient 5s ease infinite;
}

h1 {
  background: linear-gradient(to left, yellow, white, red);
  border-radius: 20px;
  text-align: center;
  margin-top: 300px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
